*{
    padding: 0px;
    margin: 0px;
}

#logo_header_area{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#logo_header_area img{
    height: 60px;
}

#title_header{
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: bolder;
    margin-top: 15px;
}

#form-login{
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    margin-top: 40px;
    border: 3px solid #22B14C;
    padding: 40px 0px 40px 0px;
    border-radius: 5px;
}

.default-input{
    width: 70%;
    height: 30px;
    border-bottom: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

.default-input:focus{
    border-bottom: 3px solid #22B14C;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: 0;
}

.default-input::placeholder{
    color: black;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

.error-input{
    width: 70%;
    height: 30px;
    border-bottom: 2px solid red;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    outline: 0;
}

.error-input::placeholder{
    color: red;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

.error-input:focus{
    border-bottom: 3px solid red;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: 0;
}

.success-input{
    width: 90%;
    height: 30px;
    border-bottom: 2px solid #22B14C !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    outline: 0;
    color: #22B14C !important;
}

.success-input::placeholder{
    color: #22B14C !important;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

.error-msg{
    width: 70%;
    margin-bottom: 35px;
    color: red;
    font-family: 'Nunito Sans', sans-serif;
}

#login-link{
    text-decoration: none;
    color: #22B14C;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    margin-top: 30px;
}

#submit-btn{
    width: 70%;
    height: 30px;
    border: 0px;
    color: white;
    background-color: #22B14C;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#submit-btn:disabled{
    width: 70%;
    height: 30px;
    border: 0px;
    color: white;
    background-color: #0f4d21;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.1s;
}

#spinner{
    margin-right: 5px;
    display: none;
}

.error-msg.captcha{
    text-align: center;
}

@media screen and (max-width: 768px){
    #form-login{
        width: 90%;
    }

    .default-input{
        width: 90%;
    }

    .error-input{
        width: 90%;
    }

    .error-msg{
        width: 90%;
    }

    #submit-btn{
        width: 90%;
        height: 30px;
    }

    #submit-btn:disabled{
        width: 90%;
        height: 30px;
    }
}



@media screen and (max-width: 650px){
    #form-login{
        width: 90%;
    }

    .default-input{
        width: 90%;
        height: 50px;
    }

    .error-input{
        width: 90%;
    }

    .error-msg{
        width: 90%;
    }

    #submit-btn{
        width: 90%;
        height: 30px;
    }

    #submit-btn:disabled{
        width: 90%;
        height: 30px;
    }

    #login-link{
        font-size: 15px;
    }
}


@media screen and (max-width: 425px){
    #form-login{
        width: 90%;
    }

    .default-input{
        width: 90%;
        height: 30px;
    }

    .default-input::placeholder{
        font-size: 12px;
    }

    .error-input{
        width: 90%;
    }

    .error-input::placeholder{
        font-size: 18px;
    }

    .error-msg{
        width: 90%;
    }

    #submit-btn{
        width: 90%;
        height: 30px;
    }

    #submit-btn:disabled{
        width: 90%;
        height: 30%;
    }
}