#title-page{
    margin: auto;
    width: 80%;
    font-family: "Nunito Sans", sans-serif;
    margin: 30px auto 30px auto;
    font-size: 35px;
    color: #22B14C;
    font-weight: bold;
}

#statistc-area{
    width: 80%;
    margin: auto;
}

#statisc-invisible{
    width: 100%;
}

#menu-area{
    margin: 20px auto 0px auto;
    width: 80%;
    padding: 30px 0px 30px 0px;
    background-color: white;
    border: 2px solid #E4E3E2;
}

.menu-card{
    border: 3px solid #22B14C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 0 0 0 2pt white;
    cursor: pointer;
    transition: 0.2s;
}

.menu-card:hover{
    box-shadow: 0 0 0 2pt #22B14C
}

.title-menu-card{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #22B14C;
    margin-bottom: 10px;
}

.img-menu-card{
    width: 100%;
    text-align: center;
}

.img-menu-card img{
    height: 70px;
}

.img-menu-card.provas{
    margin-left: 11px;
}

.marginbox{
    margin-bottom: 15px;
}

.card-dashboard{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-dashboard{
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.data-dashboard{
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #4a4a4a;
}

.box2 img{

    height: 48px;
}

.card-dashboard.users{
    border-left: 5px solid #4e73df;
}

.title-dashboard.users{
    color: #4e73df;
}

.card-dashboard.ganhos{
    border-left: 5px solid #1cc88a;
}

.title-dashboard.ganhos{
    color: #1cc88a;
}

.card-dashboard.empresas{
    border-left: 5px solid #36b9cc;
}

.title-dashboard.empresas{
    color: #36b9cc;
}

#statisc-invisible{
    margin: auto;
}













@media screen and (max-width: 1370px){
    #title-page{
        width: 95%;
    }

    #statistc-area{
        width: 95%;
    }

    #menu-area{
        width: 95%;
    }
    
}

@media screen and (max-width: 991px){
    #menu-area{
        width: 95%;
    }

    #menu-area-inv{
        width: 95%;
        margin: auto;
    }
}

@media screen and (max-width: 570px){
    #title-page{
        font-size: 20px;
    }

    #title-page{
        width: 95%;
    }

    #statistc-area{
        width: 95%;
    }

    #menu-area{
        width: 95%;
    }

    #menu-area-inv{
        width: 95%;
        margin: auto;
    }
}

@media screen and (max-width: 320px){
    #title-page{
        font-size: 15px;
    }
}