*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #F2F7F8;
}

#header{
    width: 100%;
    border-bottom: #22B14C 3px solid;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#logo-area{
    margin-left: 20px;
    cursor: pointer;
}

#logo-area img{
    height: 50px;
}

#user-stats-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

#user-name{
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

#arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down{
    transform: rotate(45deg);
    transition: 0.2s;
}

.up{
    transform: rotate(-135deg);
    transition: 0.2s;
}

#window-user{
    width: 200px;
    background-color: white;
    position: absolute;
    right: 15px;
    border: 2px solid #E4E3E2;
    display: none;
    z-index: 99999999;
}

.row_window-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-family: "Nunito Sans", sans-serif;
    transition: 0.2s;
    cursor: pointer;
}

.row_window-user img{
    margin-right: 10px;
}

.row_window-user:hover{
    background-color: #e0e0e0;
}

.off{
    display: none;
}

.background-window{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.window{
    background-color: white;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title-window{
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.text-window{
    font-family: "Nunito Sans", sans-serif;
}

#input-token{
    width: 100%;
    margin-top: 20px;
}

#input-token:disabled{
    border:3px solid #22B14C;
    background-color: white;
    height: 40px;
    padding-left: 10px  ;
    margin-right: 5px;
}

#fechar-btn{
    width: 50%;
    margin-top: 20px;
    align-self: center;
    border: 2px solid #167934;
    background-color: #22B14C;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    height: 40px;
}